openapi: 3.1.0
info:
  title: WhoKnows
  version: 0.1.0

paths:

  /:
    get:
      summary: Root page
      responses:
        "200":
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /register:
    get:
      summary: Register page
      responses:
        "200":
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /login:
    get:
      summary: Login page
      responses:
        "200":
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /api/search:
    get:
      summary: Search
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: language
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Search result
          content:
            application/json:
              schema:
                type: object

  /api/register:
    post:
      summary: Register user
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password2:
                  type: string
      responses:
        "200":
          description: Register response
          content:
            application/json:
              schema:
                type: object

  /api/login:
    post:
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login response
          content:
            application/json:
              schema:
                type: object

  /api/logout:
    get:
      summary: Logout user
      responses:
        "200":
          description: Logout response
          content:
            application/json:
              schema:
                type: object