{{ define  "body" }}

<h1>Search</h1>

<form onsubmit="event.preventDefault(); makeSearchRequest();">
  <label for="search-input">Search</label>
  <div>
    <input
      id="search-input"
      name="q"
      type="text"
      placeholder="Search..."
      value="{{ .Query }}"
      autocomplete="off"
    />
    <button id="search-button" type="submit">Search</button>
  </div>
</form>

<div id="results">
  {{ range .SearchResults }}
  <div>
    <h2>
      <a class="search-result-title" href="{{ .URL }}">
        {{ .Title }}
      </a>
    </h2>
    <p class="search-result-description">{{ .Description }}</p>
  </div>
  {{ end }}
</div>

<script>
  let searchInput;

  document.addEventListener('DOMContentLoaded', () => {
    searchInput = document.getElementById("search-input");
    searchInput.focus();
  });

  function makeSearchRequest() {
    const query = searchInput.value;
    const url = new URL(window.location.href);
    url.searchParams.set('q', query);
    window.location.href = url.toString();
  }
</script>

{{ end }}
