name: Go CI

on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  packages: read

  issues: write
  pull-requests: write

  statuses: write

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: go_app/backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go_app/backend/go.mod
          cache: true
          cache-dependency-path: go_app/backend/go.sum

      - name: Build
        run: go build ./...

      - name: Run tests
        run: go test ./... -v

  lint:
    name: Super Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Super Linter
        uses: super-linter/super-linter@v8.5.0
        env:
          DEFAULT_BRANCH: master
          VALIDATE_ALL_CODEBASE: false #only checks the files that were changed in the PR, should be set to true if you want to check the entire codebase
          FILTER_REGEX_EXCLUDE: python_app/.* #ignores python_app

          #disable all linters except for go, very easy to enable/disable linters by changing the value to true/false
          VALIDATE_BIOME: false
          VALIDATE_CSS: false
          VALIDATE_HTML: false
          VALIDATE_MARKDOWN: false
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_SPELL: false
          VALIDATE_JSCPD: false
          VALIDATE_CHECKOV: false
          VALIDATE_TRIVY: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          VALIDATE_MARKDOWN_PRETTIER: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
