name: Go CI

on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: go_app/backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go_app/backend/go.mod
          cache: true
          cache-dependency-path: go_app/backend/go.sum

      - name: Build 
        run: go build ./...
        
      - name: Run tests
        run: go test ./... -v

  lint:
    name: Super Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Super Linter
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
        env:
          DEAFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}